* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
main {
    flex: 1;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e3dab9;
    display: flex;         
    flex-direction: column; 
    min-height: 100vh;
    overflow-x: hidden;      
}

header {
    background-image: linear-gradient(to right top, #8d6e2f, #d7a450, #dfca60);
    padding: 10px;
    position: relative;
    z-index: 1000;
}

.logo {
    font-size: 2em;
    color: rgb(214, 102, 102);
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-menu a {
    color: #672c03;
    text-decoration-line: none;
    padding: 20px;
    font-size:1.1rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.nav-menu a:hover {
    color: white;
}
.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
}
/*----------------- home section------------------------- */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 80vh; */
    text-align: center;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info h2 {

    background: linear-gradient(to bottom, #031731, #c75803);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    font-size: clamp(1.8rem, 4vw, 3rem);
    font-weight: 800;
}
/* Profile image */
.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #c75803;
    margin: 20px 0;
}


.home-info h3 {
    color: rgb(22, 13, 95);
    font-size:1.2rem;
}


#main-content {
    padding: 60px 20px;
    text-align: center;
}

#welcome h2 {
    margin-bottom: 15px;
    color: #653515;
    font-size:1.75rem;
    font-weight: 800;
}

#welcome p {
    max-width: 600px;
    margin: 0 auto;
    color: #555;
    line-height: 1.6;
    font-family: inherit;
}
#home h2 span {
    background: linear-gradient(to right, #4fb6cb, #6a36bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---------------------ABOUT PAGE---------------------- */

#about {

    color: rgb(74, 72, 72);
    padding: 80px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
    min-height: 80vh;
}

#about img {
    width: 28vw;
    min-width: 260px;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(209, 130, 28, 0.25);
}

.about-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    max-width: 600px;
}


.about-info h2 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 2.5rem;
}

.about-box span {
    background: linear-gradient(to bottom, #062752, #b55d1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-box p {
    opacity: 0.85;
    line-height: 1.6;
    padding: 10px;
}

.skills-title {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 35px;
    color: #7e491e;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 18px;
    list-style: none;
}

.skills li {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 10px;
    gap: 6px;
    border: 2px solid #030322;
    border-radius: 15px;
    background-color: #d7a450;
    color: #030322;
    transition: 0.5s;
}

.skills li:hover {
    transform: translateY(-6px) scale(1.05);
}






/* -----------------------Project Section---------------------- */

#projects {
    padding: 70px 10%;
    background: linear-gradient(to bottom, #ffffff, #f1f3f7);
    border-radius: 45px;
}

.project-title {
    text-align: center;
    margin-bottom: 50px;
}

.project-title h2 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(to bottom, #062752, #b55d1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: stretch;
}

.project-card {
    flex: 1 1 320px;
    max-width: 300px;
    padding: 18px;
    border-radius: 14px;
    background: white;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}



.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 10px;
}


.project-card h3 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 8px;
    background: linear-gradient(to top, #c38e14, #563709);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-card p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

.project-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 7px 16px;
    font-size:  0.9rem;
    text-decoration: none;
    color: white;
    background: #5b4b69;
    border-radius: 6px;
    transition: 0.3s;
}

.project-btn:hover {
    background: #281c01;
}

.project-card .project-btn {
    margin-top: auto;
}


/* --------------Service section------------------- */

#services {
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#services h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, #092f62, #dc6c15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#services article {
    width: 100%;
    min-height: 250px;
    max-width: 800px;
    margin: 20px 0;
    padding: 30px;
    border-radius: 12px;
    border-left: 8px solid #4f2304;
    box-shadow: #794f0b 0 4px 15px;
    background-color: #d66a0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    transition: 0.3s ease;
}

#services article:hover {
    transform: translateY(-6px);
}

#services article img {
    width: 200px;
    height: auto;

}

#services h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fffeff;
}

#services p {

    color:#ffffff;
    font-style: italic;
    font-size:1rem;
    line-height: 1.6;
}

/* ------------------Contact page---------------- */

#contact {
    padding: 70px 10%;
    
}

#contact h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 900;
    background: linear-gradient(to bottom, #062752, #b55d1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.contact-form {
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    background: white;
}



.form-title {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
    font-weight: bold;
    font-style: italic;
    color: #062752;
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
}


.form-group input[type="submit"] {
    background-color: #4f2304;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #c75803;
}


.contact-body {
    background: #e3dab9;
}

/*--------------- Footer-------------------- */

.footer {
    text-align: center;
    padding: 20px 10px;
    background: #bb8f3d;
    color: #062752;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
}

.social-icons a {
    width: 38px;
    height: 38px;
    background: #062752;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    transition: 0.3s ease;
}

.social-icons a:hover {
    background: white;
    color: #062752;
    transform: translateY(-4px);
}

/* ----Responsive img ----- */


img {
    max-width: 100%;
    height: auto;
}


/* --------Media query -------- */

/* ---------- MOBILE (0 – 768px) ---------- */
@media (max-width:768px) {

    /* NAVBAR */
    nav {
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    
    .nav-menu {
        position: absolute;
        top: 60px;
        right: 0;
        display: none;
        flex-direction: column;
        width: 220px;
        background: #bb8f3d;
        padding: 15px 0;
        border-radius: 8px;
        z-index: 2000;
    }

    .nav-menu li {
        text-align: center;
    }

    .nav-menu a {
        display: block;
        padding: 12px;
        font-size: 0.95rem;
    }

    .menu-icon {
        display: block;
        font-size: 1.6rem;
        cursor: pointer;
    }

    #menu-toggle:checked+.menu-icon+.nav-menu {
        display: flex;
    }

    /* HOME */
    .home-info h2 {
        font-size: 1.8rem;
    }

    .home-info h3 {
        font-size: 1rem;
    }

    .profile-pic {
        width: 160px;
        height: 160px;
    }

    /* ABOUT */
    #about {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
        gap: 30px;
    }

    #about img {
        width: 80%;
    }

    .skills li {
        width: 130px;
        font-size: 0.85rem;
    }

    /* PROJECT */
    #projects {
        padding: 50px 20px;
    }

    .project-row {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        max-width: 100%;
    }

    /* SERVICES */
    #services article {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    #services article img {
        width: 150px;
    }

    /* CONTACT */
    #contact {
        padding: 50px 20px;
    }

    .contact-form {
        width: 100%;
    }

}

/* ---------- TABLET (769px – 1024px) ---------- */

@media (min-width:769px) and (max-width:1024px) {

    .home-info h2 {
        font-size: 2.2rem;
    }

    .profile-pic {
        width: 200px;
        height: 200px;
    }

    #about {
        gap: 40px;
    }

    #about img {
        width: 45%;
    }

    .project-card {
        max-width: 45%;
    }

    #services article {
        gap: 25px;
    }

    .nav-menu a {
        font-size: 1rem;
        padding: 15px;
    }

}

/* ---------- DESKTOP (Above 1024px) ---------- */

@media (min-width:1025px) {

    .project-row {
        justify-content: center;
    }

    .nav-menu {
        display: flex !important;
    }

    .menu-icon {
        display: none;
    }

}